@media (max-width: 767px )
    .icon
        width: 90px
        height: 90px
    .heading
        margin-top: 11px
        font-size: 17px
    .content
        flex-direction: column
        margin-top: 24px
        background: none
        padding: 0 15px

    .thank-you
        font-size: 17px

    .button
        margin-top: 10px
        margin-left: 0
